.modalForm{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.spanOutsideofForm{
    border: 1px solid red;
    font-family: 'Rubik Scribble', "sans-serif";
    font-size: 23px;
    color:  rgb(92, 192, 246);
}

.modalForm > div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

.modalForm > div > span:first-of-type{
    font-family: 'Rubik Scribble', "sans-serif";
    font-size: 18px;
    color:white;
}

.modalForm > div > input{
    border: 1px solid rgb(92, 192, 246) ;
    background-color: none;
}